<h1><%= @users.first_name %></h1>

<p><%= @users.last_name %></p>

<ul>
  <li><%= link_to "Edit", edit_user_path(@users) %></li>
  <li><%= link_to "Destroy", user_path(@users), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>