<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    #column-header {
        background-color: #cccccc;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
</style>

<h1>Course Schedules</h1>

<table>
  <tr id="column-header">
    <th>Course Name</th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
  </tr>


</table>
